.navbar {
	height: 7rem;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	position: fixed;
	width: 100vw;
	background-color: $background-color;

	a {
		display: inline-block;
		color: $color-primary;
		text-decoration: none;
		margin: 0 3rem;
		text-transform: uppercase;

		&:first-child {
			margin-left: 0;
		}
	}
}
